@font-face {
   font-family: "Clear Sans";
   src: url("./ClearSans/ClearSans-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Clear Sans";
   src: url("./ClearSans/ClearSans-Italic.woff") format("woff");
   font-weight: 400;
   font-style: italic;
}
@font-face {
   font-family: "Clear Sans";
   src: url("./ClearSans/ClearSans-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Clear Sans";
   src: url("./ClearSans/ClearSans-BoldItalic.woff") format("woff");
   font-weight: 700;
   font-style: italic;
}
@font-face {
   font-family: "Clear Sans";
   src: url("./ClearSans/ClearSans-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: "Clear Sans";
   src: url("./ClearSans/ClearSans-MediumItalic.woff") format("woff");
   font-weight: 500;
   font-style: italic;
}
@font-face {
   font-family: "Clear Sans";
   src: url("./ClearSans/ClearSans-Light.woff") format("woff");
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: "Clear Sans";
   src: url("./ClearSans/ClearSans-Thin.woff") format("woff");
   font-weight: 100;
   font-style: normal;
}
