@font-face{font-family:InputSansNarrow;src:url(Input/InputSansNarrow-Regular.woff2)}
@font-face{font-family:InputSansNarrow;font-weight:bold;src:url(Input/InputSansNarrow-Bold.woff2)}
@font-face{font-family:InputSansNarrow;font-style:italic;src:url(Input/InputSansNarrow-Italic.woff2)}
@font-face{font-family:InputSansNarrow;font-weight:bold;font-style:italic;src:url(Input/InputSansNarrow-BoldItalic.woff2)}
