@font-face {
   font-family: "IntelOne Mono";
   src:
      url("./IntelOneMono/intelone-mono-font-family-regular.woff2") format("woff2"),
      url("./IntelOneMono/intelone-mono-font-family-regular.ttf") format("ttf");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "IntelOne Mono";
   src:
      url("./IntelOneMono/intelone-mono-font-family-italic.woff2") format("woff2"),
      url("./IntelOneMono/intelone-mono-font-family-italic.ttf") format("ttf");
   font-weight: 400;
   font-style: italic;
}
@font-face {
   font-family: "IntelOne Mono";
   src:
      url("./IntelOneMono/intelone-mono-font-family-bold.woff2") format("woff2"),
      url("./IntelOneMono/intelone-mono-font-family-bold.ttf") format("ttf");
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "IntelOne Mono";
   src:
      url("./IntelOneMono/intelone-mono-font-family-bolditalic.woff2") format("woff2"),
      url("./IntelOneMono/intelone-mono-font-family-bolditalic.ttf") format("ttf");
   font-weight: 700;
   font-style: italic;
}
@font-face {
   font-family: "IntelOne Mono";
   src:
      url("./IntelOneMono/intelone-mono-font-family-medium.woff2") format("woff2"),
      url("./IntelOneMono/intelone-mono-font-family-medium.ttf") format("ttf");
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: "IntelOne Mono";
   src:
      url("./IntelOneMono/intelone-mono-font-family-mediumitalic.woff2") format("woff2"),
      url("./IntelOneMono/intelone-mono-font-family-mediumitalic.ttf") format("ttf");
   font-weight: 500;
   font-style: italic;
}
@font-face {
   font-family: "IntelOne Mono";
   src:
      url("./IntelOneMono/intelone-mono-font-family-light.woff2") format("woff2"),
      url("./IntelOneMono/intelone-mono-font-family-light.ttf") format("ttf");
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: "IntelOne Mono";
   src:
      url("./IntelOneMono/intelone-mono-font-family-lightitalic.woff2") format("woff2"),
      url("./IntelOneMono/intelone-mono-font-family-lightitalic.ttf") format("ttf");
   font-weight: 300;
   font-style: italic;
}
