@font-face{font-family:"PragmataPro Mono";src:url(PragmataPro-Mono/PragmataPro-Mono-R.woff2)}
@font-face{font-family:"PragmataPro Mono";font-weight:bold;src:url(PragmataPro-Mono/PragmataPro-Mono-B.woff2)}
@font-face{font-family:"PragmataPro Mono";font-style:italic;src:url(PragmataPro-Mono/PragmataPro-Mono-I.woff2)}
@font-face{font-family:"PragmataPro Mono";font-weight:bold;font-style:italic;src:url(PragmataPro-Mono/PragmataPro-Mono-Z.woff2)}
