@font-face{font-family:Solis;src:url(Solis/solis-regular.woff2)}
@font-face{font-family:Solis;font-weight:700;src:url(Solis/solis-bold.woff2)}
@font-face{font-family:Solis;font-weight:500;src:url(Solis/solis-medium.woff2)}
@font-face{font-family:Solis;font-weight:300;src:url(Solis/solis-light.woff2)}
